*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(31, 36, 54);
}
.inputbox{
    position: relative;
    width: 250px;
    padding-top: 30px;
}
.inputbox input{
    color: #fff;
    transition: color 0.6s ;
    font-size: 20px;
    background: none;
    padding: 10px;
    width: 100%;
    outline: none;
    border: 1px solid rgba(165, 165, 165, 0.514);
    border-radius: 5px;
}
.inputbox span{
    color: #fff;
    pointer-events: none;
    font-size: 20px;
    position: absolute;
    padding: 10px;
    box-sizing: border-box;
    left: 0;
    transition: 0.2s;
}
.inputbox input:valid ~ span,
.inputbox input:focus ~ span{
    color: rgb(0, 162, 255);
    transform: translateX(15px) translateY(-25px);
    background-color: rgb(31, 36, 54);
    font-size: 15px;
}
.inputbox input:focus{
    border: 1px solid rgb(0, 162, 255);
}